.sectionCTA{
    background-image: url("../../resources/media/img/sectionCTA.jpg");
    background-size: cover;
    background-position: 20% 0%;
    height: 20rem;
    >h1{
        font-size: 2.441rem;
        color: $color-primary;
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.homeBar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.125rem;
    >form{
        select{
            margin-left: 1rem;
            border: none;
            font-weight: 600;
            cursor: pointer;
            background-color: $color-light2;
            padding: 0.6rem 1.1rem;
            border-radius: 0.3rem;
        }
        button{
            justify-content: space-between;
            align-items: center;
            margin-left: 1rem;
            img{
                max-width: 1rem;
                margin: 0 .8rem 0 .8rem;
            }
        }
    }
}