.userlist{

    &__element{

        border: $border-stroke;
        border-radius: .625rem;

        img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
        
        div{

            margin: 1rem;

        }

    }

    

}