.flex{
    display: flex;
    &--col{
        flex-direction: column;
    }
    &--center{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

.container{
    max-width: 1720px;
    margin: auto;
}