.flex{
    display: flex;
    &--col{
        flex-direction: column;
    }
    &--center{
        align-items: center;
        justify-content: center;
        &--textcenter{
            text-align: center;
        }
    }
    &--ai-c{
        align-items: center;
    }
    &--jc-c{
        justify-content: center;
    }
}

.container{
    width: 94%;
    max-width: 1248px;
    margin: $margin-section;
}
