.flex{
    display: flex;

    &--col{
        flex-direction: column;
    }

    &--center{
        align-items: center;
        justify-content: center;
    }

    &--ai-c{
        align-items: center;
    }

    &--jc-c{
        justify-content: center;
    }

}