header{
    max-width: 98%;
    margin: auto;
    /*position: fixed;
    top: 0;
    z-index: 1;*/
}

.header{
    &__logo{
        max-width: 130px;
    }
    >nav{
        align-items: flex-end;
    }
}