.project-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;

    &__element{

        button{
            background-color: $color-primary;
            border: none;
        }

        img{
            height: 250px;
            width: 300px;
            object-fit: cover;
        }

        form{
            /* margin: 0.5rem; */
            .titleBtn{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 60%;
            font-size: .875rem;
            }
            .text_small{
                color: $color-light;
            }
        } 
    }
}

.imgBtn{
    transition: 0.3s;
    padding: 0;
    height: 250px;
    border-radius: 0.625rem;
    img{
        border-radius: 0.625rem;
    }
    &:hover{
        filter: brightness(50%);
    }
}

.delBtn{
    color: $color-del;
}

.editBtn{
    color: $color-edit;
}

.titleBtn{
    font-weight: 600;
}