.sign-form{
    
    margin-top: 2rem;

    &__container{
        width: 94vw;
        max-width: 480px;
        padding: 2rem;
        background-color: $color-primary;
        border-radius: $border-radius;
        position: relative;
        box-shadow:
        0  5px 10px rgba(90, 93, 105, 0.05),
        0 15px 40px rgba(32, 33, 39, 0.2);

        .close_button{
            width: 50px;
            height: 50px;
            border: none;
            background-color: $transparent;
            position: absolute;
            z-index: 4;
            top: .8rem;
            right: .8rem;

            img{
                width: 20px;
                height: 20px;
            }
        }

        &__wrapper{
            position: fixed;
            z-index: 3;
            background-color: none;
            top: 0;
            
            &--hidden{
                top: 100vh;
            }
        }
    }
    label{
        font-size: .875rem;
        font-weight: 600;
        margin-bottom: .4rem;
    }

    button{
        margin-top: 1rem;
    }
    input{
        margin-bottom: 1.4rem;
    }
}