.sign-form{
    width: 50vw;
    box-shadow:
    0  5px 10px rgba(154,160,185,0.05),
    0 15px 40px rgba(166,173,201,0.2);

    &__container{
        width: auto;
        padding: 1rem;
        background-color: $color-light;
        border-radius: $border-radius;
        position: relative;

        .close_button{
            width: 50px;
            height: 50px;
            border: none;
            background-color: $transparent;
            position: absolute;
            z-index: 4;
            top: 1rem;
            right: 1rem;

            img{
                width: 50px;
                height: 50px;
            }
        }

        &__wrapper{
            position: fixed;
            z-index: 3;
            background-color: none;
            top: 0;
            
            &--hidden{
                top: 100vh;
            }
        }
    }

    input, button {
        margin: $border-radius;
    }

    
}