/**********
COLORS
**********/

$color-primary: #fff;
$color-secondary: #000;
$color-accent: #44DE68;
$color-light: #808080;
$color-light2: #EFEFEF;


/**********
RESPONSIVE BREAKPOINTS
**********/

$breakpoints:(
    extra-large: 1200px,
    large: 992px,
    medium: 768px,
    small: 576px,
);