/**********
COLORS
**********/

$color-primary: #fff;
$color-secondary: #000;
$color-accent: #44DE68;
$color-light: #AAAAAA;

$color-cat: (
    1: rgb(226, 83, 0),
    2: rgb(226, 17, 34),
    3: rgb(85, 155, 28),
    4: rgb(3, 54, 223),
);

$transparent: rgba(0,0,0,0);

$color-del: map-get($map: $color-cat, $key: 2);
$color-edit: map-get($map: $color-cat, $key: 3);

/**********
RESPONSIVE BREAKPOINTS
**********/

$breakpoints: (
    extra-large: 1200px,
    large: 992px,
    medium: 768px,
    small: 576px,
);

/***********
BORDER
**************/

$border-stroke: 1px solid $color-light;
$border-radius: 0.625rem;

/*************
MARGIN
***********/

$margin-section: 5rem;