button{
    cursor: pointer;
    font-size: 1rem;
}

.btn{
    color: $color-primary;
    padding: 0.6rem 1.1rem;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: .875rem;
    border: none;
    transition: 0.3s;
    
    &--accent{
        background-color: $color-accent;
    }
    &--primary{
        background-color: $color-primary;
        color: $color-light;
    }
    &--secondary{
        background-color: $color-secondary;
        color: $color-primary;
    }
    &:hover{
        filter: brightness(80%);
    }

}

