button{
    cursor: pointer;
}

.btn{
    color: $color-primary;
    padding: 0.6rem 1.1rem;
    border-radius: 0.3rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    &--accent{
        background-color: $color-accent;
    }
    &--white{
        background-color: $color-primary;
        color: $color-light;
    }
}