input{
    color: $color-light;
    padding: 0.6rem 1.1rem;
    border-radius: 0.3rem;
    font-size: .875rem;
    border: none;
    background-color: $color-light2;
    &::placeholder{
        background-color: $color-light2;
    }   
}