@import 'font';

html{
    font-size: 16px;
    @media screen and (max-width: map-get($breakpoints, extra-large)){
        font-size: 15px;
    }
    @media screen and (max-width: map-get($breakpoints, large)){
        font-size: 14px;
    }
    @media screen and (max-width: map-get($breakpoints, medium)){
        font-size: 13px;
    }
    @media screen and (max-width: map-get($breakpoints, small)){
        font-size: 12px;
    }
}

body{
    overflow-x: hidden;
}

body, body *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: content-box;
    position: relative;
    transition: 0.5s ease-in-out;
    outline: none;
    background-color: $color-primary;
}